.places__paragraph {
  font-size: 18px;
  line-height: 160%;
  color: white;
  margin: 0;  
  margin-bottom: 26px;
}

.places__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 900px) {
  .places__paragraph {
    font-size: 16px;
    line-height: 162%;
  }
}

@media screen and (max-width: 639px) {
  .places__paragraph {
    font-size: 16px;
    padding: 0 17px;
  }
}