.places__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color:white;
  grid-area: title;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .places__title {
    font-size: 42px;
    line-height: 46px;
    padding: 0 5px;;
  }
}

@media screen and (max-width: 639px) {
  .places__title {
    font-size: 32px;
    line-height: 35px;
    padding-right: 0;
    padding-left: 17px;
  }
}